body
{
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Fira Sans,Helvetica Neue,Arial,sans-serif;

}

.title-image
{
    position: absolute;
    top : 15px;
    left: 15px;
    width: 70%;
}

.nav1
{
    background-color: green;
    position: absolute;
    margin-top: 15%;
    border-radius: 5px;
    width: 100%
}

.navbarheader
{
    color: lightgreen;
}

.navbarheader:hover
{
    color: white;
}

.toogle
{
    border-color: lightgreen;
}

.icon
{
    background-color: white;
}

.navlink
{
    color: lightgreen;
    text-align: center;
    padding: 14px ;
    padding-left: 25px;
    text-decoration: none;
    font-size: 17px;
}


.navlink:hover
{
    background-color: green;
    color: white;
    text-decoration: none;
}

.test
{
    position: relative;
    top:12px;
}





