body{
    font-family: 'roboto', sans-serif;
    margin:0 auto;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

/* Navigation */

nav {
    height:72px;
    background-color: green;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: 'roboto condensed' , sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0 ;
    box-sizing: border-box;
    z-index: 100;
}

nav a {
    padding: 0 20px;
    color: lightgreen;
    transition: 0.5s;
}


nav a:hover{
    text-decoration: none;
    color: white;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin:0;
}

.active {
    color: white;
}

#heading {
    display: flex;
    height: 100%;
    background: green;
    padding : 0 10px;
    align-items: center;
    color: white;
    transition: 0.4s;
}

#heading a:hover {
    color: black;
    font-size: 25px;
}

/* Menu icon */

#menu-icon {
    height : 100%;
    font-size: 20px;
    padding: 0 4px;
    color: white;
    display: none;
    align-items: center;
}

/* Slideout menu bar */

#slideout-menu {
    display: none;
}


/* Media query*/

@media(max-width:1322px) {
    nav {
        padding: 0 10px 0 0;
        font-size : 18px;
    }
}

@media(max-width:1228px) {
    nav {
        padding: 0 10px 0 0;
        font-size : 16px;
    }
}