body{
    font-family: 'roboto', sans-serif;
    margin:0 auto;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

main{
    margin: 0 auto;
}

/* Navigation */

nav {
    height:72px;
    background-color: green;
    width: 100%;
    margin: 0;
    font-size: 20px;
    font-family : "Roboto Condensed", sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0 ;
    box-sizing: border-box;
    z-index: 100;
}

nav a {
    padding: 0 20px;
    color: lightgreen;
    transition: 0.5s;
}

nav a:hover{
    text-decoration: none;
    color: white;
}

nav a::selection{
    background-color: yellow;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin:0;
}

.active {
    color: white;
}

#heading {
    display: flex;
    height: 100%;
    background: green;
    padding : 0 10px;
    align-items: center;
    color: white;
    transition: 0.4s;
}

#heading a:hover {
    color: lightgreen;
    font-size: 29px;
}

/* Menu icon */

#menu-icon {
    height : 100%;
    font-size: 20px;
    padding: 0 4px;
    color: lightgreen;
    display: none;
    align-items: center;
}

#menu-icon:hover {
    color : white;
}

/* Slideout menu bar */

#slideout-menu
{
    display: none;
    background-color: green;
    z-index : 100;
    position: absolute;
    right: 0px;
    transition: 0.4s;
    margin-top: 72px;
    width: 100%;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}

#slideout-menu ul{
    list-style: none;
    padding : 0 32px;
}

#slideout-menu ul li{
    padding : 7px;
}

#slideout-menu a
{
    font-family : "Roboto Condensed", sans-serif;
    font-size: 20px;
    color: lightgreen;
    transition: 0.4s;
}

#slideout-menu a:hover{
    color: white;
    text-decoration: none;
}

/*Section*/

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sec-heading {
    display: flex;
    justify-content: center;
    text-align: center;
}

.section-heading {
    font-size: 25px;
    color: black;
    font-family: 'Robo Condensed' , sans-serif;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 50px; 
}

.section-heading:hover {
    padding: 4px;
    padding: 4px 70px 4px 50px;
    background-color: green;
    color: white;
    cursor: default;
}

/* Card */

.card{
    padding : 5px 5px;
}

.card-image {
    transition: 0.4s;
}

.card-image:hover{
    box-shadow: 0 10px 6px -6px #777;
}

.card .card-description {
    padding : 0 8px;
}

.card-description h3 {
    text-align: center;
    font-family: 'Arimo' , sans-serif;
    
}

.card-title:hover {
    text-decoration: underline;
}

/*Read more button*/

.btn-readmore{
    padding : 3px 12px;
    border: 3px solid black;
    transition: 0.4s;
    display: inline-block;
    margin-left: 120px;
    font-weight: bold;
    cursor: pointer;
    background: white;
}

.btn-readmore:hover {
    background:green;
    color: lightgreen;
    text-decoration: none;
    font-style: none;
    padding : 3px 48px 3px 12px;
}

/* Media query*/

@media(max-width:1322px) {
    nav {
        padding: 0 10px 0 0;
        font-size : 18px;
    }
}

@media(max-width:1228px) {
    nav {
        padding: 0 10px 0 0;
        font-size : 16px;
    }
}

@media(max-width:900px)
{
    nav ul
    {
        display: none;
    }

    #slideout-menu
    {
        display: block;
    }

    #menu-icon
    {
        display: flex;
    }    
}

@media(min-width:1000px) {
    main {
        width:95%;
    }
    .card {
        width:30%;
    }

    .card-image img {
        width : 100%;
    }
}

@media(max-width:1000px) {
    main {
        width:90%;
    }
    .card {
        width:45%;
    }

    .card-image img {
        width : 100%;
    }

    .btn-readmore{
        margin-left: 80px;
    }
}

@media(max-width:720px) {
    main {
        width:100%;
    }
    .card {
        width:80%;
    }

    .card-image img {
        width : 100%;
    }

    .btn-readmore {
        margin-left: 100px;
    }
}

